$danger: #690003;
$primary: #0f1c02;
$secondary: #ebd7c6;
$info: #440d56;
$navbar-light-color: $secondary;
$navbar-light-hover-color: $primary;
$navbar-light-active-color: $primary;
$navbar-light-icon-color: $secondary;
$navbar-light-toggler-border-color: transparent;
$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 6,
);
