$danger: #690003;
$primary: #0f1c02;
$secondary: #ebd7c6;
$navbar-light-color: $secondary;
$navbar-light-hover-color: $primary;
$navbar-light-active-color: $primary;
$navbar-light-icon-color: $secondary;
$navbar-light-toggler-border-color: transparent;
