$secondary: #ebd7c6;
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  position: relative;
}
body {
  background-color: #091022;
}
h2 {
  font-size: 35px;
}

nav {
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  .logo {
    height: 50px;
  }
  .nav-link.active {
    color: $secondary;
  }
}

.banner {
  .me-image {
    max-width: 350px;
  }
}
.zikzak {
  background-image: url("../../assets/images/zikzak.svg");
  background-size: contain;
  background-repeat: repeat;
  height: 30px;
  animation: zikzak linear 15s infinite;
}
@keyframes zikzak {
  0% {
    background-position-x: 0;
  }
  50% {
    background-position-x: 50%;
  }
  100% {
    background-position-x: 100%;
  }
}
#skills {
  .card {
    max-width: 200px;
  }
}
